<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Add Warehouse</h4>
          </div>
          <div class="content">
            <form (ngSubmit)="onSubmit(warehouseForm)" #warehouseForm="ngForm">
              <div class="form-group">
                <label for="warehouseName">Warehouse Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="warehouseName"
                  name="warehouseName"
                  [(ngModel)]="warehouse.warehouseName"
                  required
                />
              </div>
              <div class="form-group">
                <label for="location">Location</label>
                <input
                  type="text"
                  class="form-control"
                  id="location"
                  name="location"
                  [(ngModel)]="warehouse.location"
                  required
                />
              </div>
              <div class="form-group">
                <label for="capacity">Capacity</label>
                <input
                  type="number"
                  class="form-control"
                  id="capacity"
                  name="capacity"
                  [(ngModel)]="warehouse.capacity"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  [(ngModel)]="warehouse.email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input
                  type="tel"
                  class="form-control"
                  id="phoneNumber"
                  name="phoneNumber"
                  [(ngModel)]="warehouse.phoneNumber"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">
                Add Warehouse
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
